.folders .ant-collapse-header {
    text-align: left;
}
.folders .ant-collapse-item,
.folders.ant-collapse {
    border: none;
}
.folders .ant-collapse-content {
    background: #fafafa;
    border-color: rgb(211 211 211 / 0.5);
}
.folders .ant-collapse-content .ant-list, .mail-list .ant-list {
    padding: 10px 10px 10px 25px;
    text-align: left;
    cursor: pointer;
}
.folders .ant-collapse-content .ant-collapse-content-box {
    padding: 5px 10px;
}
.mail-list .ant-list {
    background: #fdfdfd;
    border-bottom: 1px solid gainsboro;
}
.mailPreviewm, .mail-list {
    text-align: left;
    padding: 10px 20px;
}
.mail-list .ant-list {
    padding: 10px 40px 10px 25px;
}
.mail-list .ant-list .anticon {
    display: none;
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
}
.mail-list .ant-list:hover .anticon {
    display: block;
}
.mailPreview {
    text-align: left;
    padding: 30px 0;
}
p.mail-body {
    padding-top: 10px;
}